body {
    margin: 0;
    width: 100%;
    max-width: 1100px;
    background-color: #ef5350;

}

a {
    color: #3f3f3f;
    text-decoration: none;
}

/*standard page code */

.headerdiv {
    width: 100%;
    height: 150px;
    background-color: #2196F3;
    position: relative;
    z-index: 2;
}

.homepagewimlogo {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 50px;
    left: 40px;
}

.headerbackarrow {
    height: 60px;
    width: 50;
    margin: 45px;
    float: left;
}

.headerpagetitle {
    float: left;
    line-height: 155px;
    max-width: 500px;
    margin-top: 0px;
    color: white;
    font-family: Arial;
    font-size: 50px;
    margin-bottom: -25px;
}

.headerplusicon {
    float: right;
    width: 150px;
    margin: 100px;
    margin-top: 55px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.notheaderdiv{
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    background-color: lightgray;
    overflow: hidden;
    
}


/*sign in page*/
.signinlogo {
    margin: auto;
    display: block;
    margin-top: 40%;
    height: 12%;
}

.signininputs {
    font-size: 53px;
    width: 80%;
    margin: auto;
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    margin-bottom: 21px;
}

.signininputsbottomline {
    width: 80%;
    margin: auto;
    display: block;
    height: 2px;
    background-color: #3f3f3f;
    margin-bottom: 55px;
    border-radius: 5px;
    opacity: .5;
}

.loginbutton {
   width: 80%;
    margin: auto;
    display: block;
    height: 100px;
    background-color: #3f3f3f;
    margin-bottom: 35px;
    border-radius: 5px;
    opacity: 1;
    color: white;
    font-size: 60;
    font-family: Arial;
    margin-top: 80px;
    border-color: white;
    
}




.linktoanewaccount {
    text-align: center;
    bottom: 70px;
    width: 100%;
    font-size: 40px;
    font-family: Arial;
    color: white;
    line-height: 150px;
    margin: auto;
    text-decoration: none;
}



/*friends page*/
.backarrow {
    position: absolute;
    margin: 20px 10px;
    z-index: 2;
}

.pagelable {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin-top: 38px;
    font-family: Arial;
    line-height: 1; 
    color: #3f3f3f;
    z-index: 1;
}

.pageheaderbar {
    height: 170px;
    background-color: #00C7E2;
    opacity: .5;
    top: 0px;
}

.meatcontent {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    margin: .5px;
    background-color: lightgray;
}

.eachfriend {
    width: calc(25% - 4px);
    height: 220px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: white;
}

.myfriendspic {
    width: 100px;
    height: 100px;
    border-radius: 75px;
    margin: auto;
    background-color: lightgray;
    display: block;
    margin-top: 50px;
    
}

.myfriendsname {
        text-align: center;
    font-family: Arial;
    margin-top: px;
    color: #3f3f3f;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 25px;
    margin-top: 15px;
}

.myfriendscheckmark {
    position: absolute;
    height: 60px;
    margin-top: -115px;
    margin-left: 16%;
}

/* friends drop down menu */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


/*hompage */

.homepagelink {
    height: 400px;
    width: 80%;
    border-radius: 10px;
    background-color: gray;
    margin: auto;
    margin-top: calc((100vh - 1200px)/ 4);
    text-align: center;
    line-height: 400px;
    font-size: 100px;
    font-family: Arial Black;
    color: white;
    
    
    
}

#tophomepageline {
    width: 100%;
}


.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    /*border: dashed 1px;*/
    border-radius: 50%;
    margin: 1.75em auto 0;
    margin-top: 50%;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
    text-decoration: none;
}
.circle-container  { display: block; width: 50%; }
.deg0 { transform: rotate(0deg) translate(12em) rotate(180deg); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(-90deg) translate(12em) rotate(90deg); }
.deg135 { transform: rotate(-180deg) translate(12em) rotate(180deg); }
.deg245 { transform: rotate(-270deg) translate(12em) rotate(270deg); }

.homepagebuttondiv {
    width: 150px;
    height: 150px;
    background-color: none;
    border-radius: 50%;

}

#homepagetopbutton {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


#homepagetopbuttonlable {
    margin: -110px -75px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.homepagebuttonlable {
    margin: 5px -55px;
    width: 200px;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px
}



/*Current WIMS*/

.currentwimsindividualdiv {
    width: calc(100% - 4px);
    height: 150px;
    background-color: white;
    margin: 2px;
    
}



.currentwimswimtypeimg {
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 50%;
    float: left;   
}

.currentwimswimnameanddestinationholder {
    width: 375px;
    height: 150px;

    float: left;
    
    
}

.currentwimswimname {
    width: inherit;
    overflow: hidden;
    font-size: 50px;
    float: left;
    text-overflow: ellipsis;
    margin-top: 30PX;
    font-family: Arial;
    opacity: .8
    
}

.currentwimswimdestination {
    width: inherit;
    font-size: 30px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30PX;
    font-family: Arial;
    display: block;
    margin-top: -50;
    opacity: .6
}

.currentwimparticipantsdiv {
    float: left;
    height: 130px;
    width: 130px;
    padding: 10px;
}


.currentwimparticipantsimg {
    float: left;
    width: 63px;
    height: 63px;
    margin: 1px;
    border-radius: 50%;
    background-color: #43A047;
    line-height: 63px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Arial;
    
}


.currentwimswimtimesdiv {
    width: 260px;
    height: 150px;
    float: left;
    
    
}

.currentwimscountdown {
    width: inherit;
    font-size: 40px;
    margin-top: 45PX;
    font-family: Arial;
    opacity: .8;
    text-align: center;
    
    
}

.currentwimsactualtime {
    width: inherit;
    font-size: 20px;
    margin-top: -40px;
    font-family: Arial;
    opacity: .6;
    text-align: center;
}

/*WIM info*/
.wiminfomeatcontent {
    width: 100%;
    height: calc(100vh - 150px);
    
    
}


.wiminfopicturediv {
    width: 100%;
    height: 500px;
    background-color: lightgray;
    overflow: hidden;
}

.wiminfopicture {
    margin: auto;
    width: 100%;
    height: 100%;
}

.wiminfowimicon {
    float: right;
    width: 200px;
    height: 200px;
    margin: -50px 75px;
    position: absolute;
    right: 0px;
    z-index: 1;
    background-color: lightgray;
    border-radius: 50%;
}

.wiminfowimiconpic {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: auto;
    display: block;
    margin-top: 0px;
    border-radius: 50%;
}

.wiminfodirections {
    width: 100%;
    height: 170px;

}

.wiminfodirectionsicon {
    float: left;
    height: 70px;
    width: 65px;
    margin: 50px;
    margin-right: 25px;
}

.wiminfodestination {
    float: left;
    width: calc(100% - 200px);
    height: 80px;
    margin-top: 40;
    margin-bottom: 0px;
    line-height: 80px;
    font-size: 80px;
    font-family: Arial;
    color: #3f3f3f;
    
    
}

.wiminfodestinationstreetname {
    float: left;
    width: calc(100% - 200px);
    height: 40px;
    margin-top: -10;
    line-height: 40px;
    font-size: 25px;
    font-family: Arial;
    color: #3f3f3f;
    opacity: .7;
}

.wiminfobottomline {
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: #3f3f3f;
    opacity: .4;
    margin-bottom: -10px;
    margin-top: 0px
}



.wiminfoattendees {
    width: 100%;
    height: 100px;
    

}

.wiminfoattendeesicon {
    float: left;
    height: 70px;
    width: 65px;
    margin: 20px 25px 50px 50px;
}

.wiminfoattendeeslable {
    float: left;
    width: calc(100% - 200px);
    height: 50px;
    margin-top: 30;
    margin-bottom: -10px;
    line-height: 50px;
    font-size: 50px;
    font-family: Arial;
    color: #3f3f3f;    
}

.wiminfoattendeesholderdiv {
    height: 268px;
    width: 100%;
    margin: auto;
    margin-top: -60px;
    margin-bottom: -60px;
}

.wiminfoattendeessideline {
    width: 2px;
    height: 150px;
    background-color: #3f3f3f;
    margin-left: 5%;
    float: left;
    opacity: .4;
    margin-bottom: -80px;
}

.wiminfoattendeessliderdiv {
    width: 90%;
    height: 150px;
    margin-left: 5%;
    overflow-x: hidden;
    overflow-x: auto;
    float: left;
    margin-top: -63px;
    margin-bottom: 
}

.wiminfoindividualattendee {
    width: 150px;
    height: 120px;
    margin-top: 15px;
    float: left;
}

.wiminfoindividualattendeepic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    display: block;
    background-color: #43A047;
    
}

.wiminfoindividualattendeename {
    width: 100%;
    text-align: center;
    font-family: Arial;
    margin-top: 5px;
    
}

.wiminfoindividualattendeestatus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: -65px 90px;
    background-color: #43A047;
    position: relative;
    line-height: 30px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 20px;
}

.wiminfodetails {
    float: left;
    height: 50px;
    width: 50px;
    margin: 34px 25px 50px 65px;
}

.wiminfodetailsactualtextdiv {
    width: 80%;
    float: left;
    height: 400px;
    overflow-y: auto;
    margin-top: -20px;
}

.wiminfodetailsactualtext {
    width: 100%;
    float: left;
    overflow-y: visible;
    font-family: Arial;
    font-size: 12px;
}

/*profile page */

.profiletopdiv {
    width: 100%;
    height: 575px;
    
}

.profiletopdivbackgroundblur {
    width: 100%;
    height: 575px;
    position: absolute;
    top: 150px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(user_profile_pics/64.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(10px);
}

.profiletopleftactioncircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    float: left;
    margin-left: calc((100% - 500px)/3);
    margin-right: calc((100% - 500px)/6);
    margin-top: 250px;
    position: relative;
    z-index: 1;
}

.profiletoprightactioncircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-left: calc((100% - 500px)/6);
    margin-top: 250px;
    position: relative;
    z-index: 1;
}

.profiletopprofilepiccircle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lightgray;
    float: left;
    margin-top: 150px;
    position: relative;
    z-index: 1;
}

.profiletopname {
    float: left;
    width: 100%;
    text-align: center;
    font-family: Arial;
    margin-top: 15px;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 50px;
}

.profileoptionchooser {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: -3px;
    position: relative;
    z-index: 2;
}

.profileoptiondiv {
    height: 100px;
    width: calc(33.33% - 4px);
    background-color: white;
    float: left;
}

.profileoptionpic {
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    display: block;
 
}

.profileoptiondividerline {
    height: 80px;
    width: 2px;
    float: left;
    background-color: lightgray;
    margin-top: 10px;
}

.profilebottomdiv {
    width: calc(100%);
    height: calc(100% - 822px);
    position: absolute;
    margin: 0px;
}


.profilebottompastwimsdiv {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: absolute;
    bottom: 0px;
    overflow: auto;
}

.profilebottomfriendsdiv {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: white;
    position: absolute;
    bottom: 0px;
    margin: 2px;
    overflow-y: auto;
}

.profilebottominfodiv {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: absolute;
    bottom: 0px;
    overflow: auto;
}

.profileinfoleftdiv {
    background-color: white;
    float: left;
    width: calc(50% - 4px);
    margin-top: 4px;
    border-radius: 0px 10px 10px 0px;
   
}

.profileinfoindividualdiv {
    height: 100px;
    width: 100%;
    margin-top: 50px;
}

.profileinfoleftinfoimage {
    width: 60px;
    height: 60px;
    margin: 0px 50px;
    float: left;
}

.profileinfoleftinfotitle {
    float: left;
    width: calc(100% - 160px);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial;
}

.profileinfoleftinfoinformation {
    float: left;
    font-size: 25px;
    margin-top: 0px;
    width: calc(100% - 180px);
    
    font-family: Arial;
}



.profileinforightdiv {
    float: left;
    width: 50%;
    background-color: lightgray;
    overflow-x: hidden;
}

.profileinterestsdiv {
    width: calc(100% - 4px);
    height: 100px;
    float: left;
    margin: 4px 10px 10px 10px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
}

.profileinterestsimg {
    height: 60px;
    width: 60px;
    margin: 20px;
    background-color: #43A047;
    border-radius: 50%;
    float: left;
}

.profileintereststext {
    line-height: 100px;
    width: calc(100% - 120px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial;
    font-size: 30px;
    margin-top: 0px;
}


/*homepage */

.homepagesettingsbuttondiv {
    padding: 10px;
    background-color: green;
    position: absolute;
    right: 20px;
    top: 20px;
    
}

.homepagesettingsbutton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.homepagesettingsdownarrow {
    width: 60px;
    height: 60px;
    
}

.homepagenotifications {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin: -160px 60px;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #2196F3;
    font-family: Arial Black;
}
