<html>
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="wimmain.css">
</head>
<body style="background-color: #ef5350;">
    <img class="signinlogo" src="web_images/Drawing%20(5).png">
    
    <div class="signindiv">
        <img id="userpic" class="signindivuserpic" src="user_profile_pics/default-profile-thumb.png">
        
        <h1 class="signingivenname">Braxton Young</h1>
        <h1 class="signinemail">youngbraxton164@gmail.com</h1>
        <form>
    
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
            
            <div class="group">      
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Password</label>
            </div>

            <button id="nextbutton" class="signinbutton" onclick="nextbuttonfunction()">Sign In</button>

         </form>

    </div>
    
   
    <div class="linktoanewaccount">
         <a class="linktoanewaccount" href="signup.html">
            Don't have a WIM account?
        </a>
    </div>
    
<script>
    
    function testbutton() {
        
    }
    
    function nextbuttonfunction() {
        
        document.getElementById("userpic").src = "user_profile_pics/1.jpg";
        window.location = "../index.html";
    }
    
</script>    
</body>

</html>