<body style="background-color: #ef5350;">
    <img class="signinlogo" src="web_images/Drawing%20(5).png">
    
    <div class="signindiv">
	
        <form>
    
            <div class="group">      
              <input type="text" class="form-control" placeholder="Email Address..." ng-model="email" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
            
            <div class="group">      
              <input type="password" class="form-control" placeholder="Password..." ng-model="password" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Password</label>
            </div>

            <button id="nextbutton" class="signinbutton" ng-click="login()">Sign In</button>

         </form>

    </div>
    
   
    <div class="linktoanewaccount">
         <a class="linktoanewaccount" href="#signup">
            Don't have a WIM account?
        </a>
    </div>