<html>
<head>
    <link rel="stylesheet" type="text/css" href="wimmain.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
</head>
<body>
    <div class="headerdiv">
        <a href="#homepage">
            <div class="headerbackarrow">
                <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
            </div>
        </a>
        <h1 class="headerpagetitle">New WIM</h1>
    </div>
    
 
    <a href="homepage.html">Congradulations you have submitted a new WIM</a>
    

   
</body>

</html>